[Unit]
Description=groom
After=network.target

[Service]
StandardOutput=null
StandardError=journal
LimitNOFILE=16384
ExecStart=/usr/bin/groom /etc/groom/groom.conf
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
